<!DOCTYPE html>
<html>
    <head>
        <title>Penger Party</title>
        <script src="load.js"></script>
        <style>
            #demo-canvas:hover {
                cursor: none
            }
            .penger-img {
                width: 64px;
                image-rendering: pixelated;
            }
            .players-img {
                margin-right: 10px;
            }
            h1 {
                text-align: center;
                font-size: 1.5em;
                margin: 0px;
            }
            @media screen and (min-width: calc(800px + calc(64px * 4))) {
                #css-bullshit {
                    content: "";
                    display: table;
                    clear: both;
                }
                #left {
                    float: left;
                    width: 50%;
                }
                #right {
                    float: right;
                    width: calc(100% - 800px - 25px);
                    position: absolute;
                    right: 0px;
                }
            }
        </style>
    </head>
    <body>
        <h1>Penger Party</h1>
        <div id="css-bullshit">
            <div id="left">
                <canvas id="demo-canvas"></canvas>
                <h3>Instructions:</h3>
                <p>Press q, d or arrow key to move</p>
                <p>Press shift key to slow down</p>
                <p>Press space key to jump</p>
                <p>Penger is afraid of your stinky hand</p>
            </div>
            <div id="right">
                <h3>Multiplayer:</h3>
                <p>
                    Play online with the pseudo name:
                    <input id="pseudo" placeholder="Penger Lover" />
                    <button id="play">Play</button>
                </p>
                <p>Players:</p>
                <ul id="players">Not connected</ul>
                <p>Playing map : <span id="map-name">Default Map</span></p>
                <p>Next map in : <span id="map-time">-1</span></p>
                <p>Coin collected : <span id="nb-coin">0</span></p>
                <h3>Choose your penger:</h3>
            </div>
        </div>
        <h3>Made by a Penger Entousiast</h3>
    </body>
</html>
